# apigen.neon
#
# Neon configuration file for the documentation generator "ApiGen".
#
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU Lesser General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option) any
# later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
# details.
#
# You should have received a copy of the GNU Lesser General Public License along
# with this program. If not, see <http://gnu.org/licenses/lgpl.txt>.
#
# Author:    Florian Wolters <wolters.fl@gmail.com>
# Copyright: 2012-2013 Florian Wolters
# License:   http://gnu.org/licenses/lgpl.txt LGPL-3.0+
# Link:      http://github.com/FlorianWolters/PHP-Component-Util-Singleton

source: src/php
destination: review/api
exclude:
skipDocPath:
skipDocPrefix:
main:
title: FlorianWolters\Component\Util\Singleton
baseUrl: http://florianwolters.github.com/PHP-Component-Util-Singleton
googleCseId:
googleCseLabel:
googleAnalytics:
allowedHtml:
groups: namespaces
autocomplete:
    - classes
    - constants
    - functions
accessLevels:
    - public
    - protected
internal: no
php: yes
tree: yes
deprecated: no
todo: no
sourceCode: no
download: yes
report: review/apigen.log
wipeout: yes
quiet: no
progressbar: no
colors: yes
debug: no
