<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>FlorianWolters\Component\Util\Singleton\MultitonTrait | FlorianWolters\Component\Core\Singleton API</title>
                    <link rel="stylesheet" type="text/css" href="../../../../stylesheet.css">
                            </head>
        <body id="class">
            <div class="header">
        <ul>
            <li><a href="../../../../classes.html">Classes</a></li>
                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
            <li><a href="../../../../traits.html">Traits</a></li>
            <li><a href="../../../../doc-index.html">Index</a></li>
            
        </ul>

        <div id="title">FlorianWolters\Component\Core\Singleton API</div>

            <div class="type">Trait</div>
    <h1><a href="../../../../FlorianWolters/Component/Util/Singleton.html">FlorianWolters\Component\Util\Singleton</a>\MultitonTrait</h1>
    </div>
        <div class="content">
                <p>    trait
    <strong>MultitonTrait</strong></p>

            <div class="description">
            <p>The trait {see MultitonTrait} implements the <em>Multiton</em> (also known as <em>Registry of Singletons</em>) creational design pattern to ensure a class only has a limited number of instances, and to provide a global point of access to it.</p>
            <p>
</p>
        </div>
    
    
    
            <h2>Methods</h2>

            <table>
                    <tr>
                <td class="type">
                    static&nbsp;<a href="../../../../FlorianWolters/Component/Util/Singleton/MultitonTrait.html"><abbr title="FlorianWolters\Component\Util\Singleton\MultitonTrait">MultitonTrait</abbr></a>
                </td>
                <td class="last">
                    <a href="#method_getInstance">getInstance</a>()
                    <p>Returns the <em>Multiton</em> instance of the class using this trait.</p>
                </td>
                <td></td>
            </tr>
            </table>


        <h2>Details</h2>

                        <h3 id="method_getInstance">
        <div class="location">at line 35</div>
        <code>        static    public            <a href="../../../../FlorianWolters/Component/Util/Singleton/MultitonTrait.html"><abbr title="FlorianWolters\Component\Util\Singleton\MultitonTrait">MultitonTrait</abbr></a>
    <strong>getInstance</strong>()</code>
    </h3>
    <div class="details">
        <p>Returns the <em>Multiton</em> instance of the class using this trait.</p>
        <p>
</p>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td><a href="../../../../FlorianWolters/Component/Util/Singleton/MultitonTrait.html"><abbr title="FlorianWolters\Component\Util\Singleton\MultitonTrait">MultitonTrait</abbr></a></td>
            <td>The <em>Multiton</em> instance.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

    
            </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
